// Page
// -----------------------------------------------------------------------------
body {
  background-color: #fafafa;
}

.page {
  background-color: #fff;

  &__content {
    padding-top: 15px;
    padding-bottom: 15px;

    @include breakpoint(md) {
      min-height: 800px;
    }
  }

  &__promo--left,
  &__promo--right {
    position: absolute;
    top: 131px;
  }

  &__promo--left {
    left: -170px;
  }

  &__promo--right {
    right: -170px;
  }
}

// Page: Header
// -----------------------------------------------------------------------------
.page__header {

  &--left,
  &--right {
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;

    @include breakpoint(sm) {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  &--left {

    @include breakpoint(sm) {
      text-align: left;
    }
  }

  &--right {

    @include breakpoint(sm) {
      text-align: right;
    }

    .block {
      display: inline-block;

      @include breakpoint(sm) {
        margin-top: .5em;
      }

      + .block {

        @include breakpoint(sm) {
          margin-left: .5em;
        }
      }

      .menu--account {
        display: none;

        @include breakpoint(sm) {
          display: inline-block;
        }
      }
    }
  }
}

// Page: Content Wrapper
// -----------------------------------------------------------------------------
.page__content-wrapper {
  padding-top: $grid-gutter-width / 2;
  padding-bottom: $grid-gutter-width / 2;

  .page--front {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// Page: Sidebar
// -----------------------------------------------------------------------------
.page__sidebar {
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
}

// Region: Footer
// -----------------------------------------------------------------------------
.page__footer {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background: $gray-lighter;

  p {
    font-size: .75em;
    margin: 0;
  }

  .block {

    + .block {
      margin-top: 1em;
    }
  }
}
