// User: Compact
// -----------------------------------------------------------------------------
.user--compact {

  .user__field-roundearth-picture {
    border: 1px solid $gray-light;
    border-radius: 3px;
    overflow: hidden;

    a {
      display: block;
      width: 100%;

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}
