{#
/**
 * @file
 * Template for the News node in Teaser view mode.
 */
#}
{% set bundle = node.bundle|clean_class %}
{%
  set classes = [
  'node',
  bundle,
  node.isPromoted() ? bundle ~ '--promoted',
  node.isSticky() ? bundle ~ '--sticky',
  not node.isPublished() ? bundle ~ '--unpublished',
  view_mode ? bundle ~ '--' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {{ content.field_roundearth_media_featured }}

  <h4>
    <a href="{{ url }}">{{ label }}</a>
  </h4>

  {{ content|without('field_roundearth_media_featured', 'links') }}

  <div class="links">
    {% if is_trimmed %}
    <a href="{{ url }}" class="text-muted">
      {{ "Read more"|t }} <i class="fa fa-angle-right"></i>
    </a>
    {% endif %}
  </div>
</article>
