@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans");
.page--front .page__content .block__title {
  text-align: center;
  line-height: 1;
  position: relative;
  margin: 1em auto; }

.page__carousel .carousel {
  border-bottom: 12px solid #111111; }

.page__carousel .item .field-roundearth-carousel-slides__field-roundearth-carousel-media img {
  width: 100%; }

.roundearth-news--teaser {
  margin-bottom: 2em; }
  .roundearth-news--teaser > a {
    color: #111111;
    font-weight: bold; }

/*# sourceMappingURL=pangea.fluid.css.map */
