// Form
// -----------------------------------------------------------------------------
form {

  .page__sidebar & {

    .form-group {
      display: block;
    }

    .form-control {
      width: 100%;
    }
  }
}
