// @file
// SASS partials import
// -----------------------------------------------------------------------------
@import "base/variables";
@import "radix/mixins";

.page {
  max-width: 1002px;
  position: relative;

  .container {
    width: auto;
  }

  @include breakpoint(sm) {
    border: 1px solid #dfdfde;
    margin: 15px auto;
  }

  &__content {
    padding-top: 15px;
    padding-bottom: 15px;

    @include breakpoint(md) {
      min-height: 800px;
    }
  }
}

.carousel {

  .carousel-caption {

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

.civicrm-event--full {
  margin-left: - ($grid-gutter-width / 2);
  margin-right: - ($grid-gutter-width / 2);

  .container {
    margin-left: 0;
    margin-right: 0;
  }
}
