// Component: Contact
// -----------------------------------------------------------------------------
.contact {
  font-size: 1rem;

  &__image {
    display: block;
    margin-bottom: .5rem;
    width: 80px;
    height: auto;
    
    @include breakpoint(sm) {
      width: auto;
    }
  }

  &__name {
    text-transform: uppercase;
    color: $brand-secondary;
  }

  &__position {

    p {
      margin-bottom: .5rem;
      font-size: .85rem;
    }
  }

  &__bio {

    &__link {
      margin-top: .5rem;
      font-size: .85rem;
      display: block;
      background: none;
      border: 0;
      padding: 0;

      i {
        margin-left: .25rem;
        vertical-align: middle;
      }
    }

    &__content {
      display: none;
      background-color: $gray-lighter;
      padding: 1rem;
      z-index: 10;
      margin-top: 1rem;

      p {
        font-size: 0.85rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .badge {
    margin-top: .25rem;
  }
}
